<!doctype html>
<html lang="en">

<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
  "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>

<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    @@include('../partials/banner.html')

    <main class="b-main">
      <section class="b-page-eat">
        <div class="container">
          <div class="b-eat">
            <div class="b-block-content wow fadeInDown">
              <div class="b-content">
                <div class="b-icon">
                  <img src="../../images/icon-eat.png" alt="Eat" />
                </div>
                <div class="b-info">
                  <h2 class="b-text-title b-dot">
                    GET INSPIRED
                  </h2>
                  <p class="b-text-norm">
                    Lorem ipsum dolor sit amet, consectetur adipisc
                    Pellentesque vel enim a elit viverra elementuma.
                    Aliquam erat volutpat.
                  </p>
                </div>
              </div>
            </div>
            <div class="b-block-content wow fadeInDown">
              <div class="b-content">
                <div class="b-icon">
                  <img src="../../images/icon-money.png" alt="Eat" />
                </div>
                <div class="b-info">
                  <h2 class="b-text-title b-dot">
                    GET REWARDED
                  </h2>
                  <p class="b-text-norm">
                    Lorem ipsum dolor sit amet, consectetur adipisc
                    Pellentesque vel enim a elit viverra elementuma.
                    Aliquam erat volutpat.
                  </p>
                </div>
              </div>
            </div>
            <div class="b-block-content wow fadeInDown">
              <div class="b-content">
                <div class="b-icon">
                  <img src="../../images/icon-chef.png" alt="Eat" />
                </div>
                <div class="b-info">
                  <h2 class="b-text-title b-dot">
                    GET SOCIAL
                  </h2>
                  <p class="b-text-norm">
                    Lorem ipsum dolor sit amet, consectetur adipisc
                    Pellentesque vel enim a elit viverra elementuma.
                    Aliquam erat volutpat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="b-page-introduc ">
        <div class="container">
          <div class="b-block">
            <div class="b-block-left wow fadeInLeft">
              <div class="b-images">
                <img src="../../images/iphone.png" alt="Green" />
              </div>
            </div>
            <div class="b-block-right wow fadeInRight">
              <div class="b-content">
                <h2 class="b-text-title b-dot left">
                  INTRODUCING THE FUDI APP
                </h2>
                <p class="b-text-norm">
                  Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet
                  felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vest
                  ibulum tristique. Suspendisse tristique lacus ac mattis porta.

                  Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In
                  libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a mas
                  sa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis.
                  Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan.

                  Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam
                  malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultrices
                  ante, a mattis massa.
                </p>
                <div class="b-list-social">
                  <div class="b-item">
                    <a href="#" class="b-link">
                      <img src="./images/app-store.png" alt="App" />
                    </a>
                  </div>
                  <div class="b-item">
                    <a href="#" class="b-link">
                      <img src="./images/ch-play.png" alt="App" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="b-page-slider">
        <div class="container">
          <div class="b-slider wow fadeInDown">
            <div class="b-item">
              <div class="b-block">
                <div class="b-content">
                  <div class="b-images" style="background-image: url('../images/person.png')">

                  </div>
                  <p class="b-text-norm">
                    “I am so happy because I found this recipe, and it just made my life easier.
                    Thanks so much for sharing!”
                  </p>
                  <h5 class="b-text-action">
                    Michael Dawson, San Francisco, CA
                  </h5>
                </div>
              </div>
            </div>
            <div class="b-item">
              <div class="b-block">
                <div class="b-content">
                  <div class="b-images" style="background-image: url(http://i.imgur.com/Dm684QQ.jpg)">

                  </div>
                  <p class="b-text-norm">
                    “I am so happy because I found this recipe, and it just made my life easier.
                    Thanks so much for sharing!”
                  </p>
                  <h5 class="b-text-action">
                    Michael Dawson, San Francisco, CA
                  </h5>
                </div>
              </div>
            </div>
            <div class="b-item">
              <div class="b-block">
                <div class="b-content">
                  <div class="b-images"
                    style="background-image: url(https://media.ngoisao.vn/resize_580/news/2013/11/10/47/anh_the9112_jpg1.jpg)">

                  </div>
                  <p class="b-text-norm">
                    “I am so happy because I found this recipe, and it just made my life easier.
                    Thanks so much for sharing!”
                  </p>
                  <h5 class="b-text-action">
                    Michael Dawson, San Francisco, CA
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="b-page-cusiness">
        <div class="b-heading wow fadeInDown">
          <h3 class="b-text-title b-dot">
            BROWSE BY CUSINESS
          </h3>
        </div>
        <div class="b-block-main">
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-1.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  327 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  ITALIAN
                </h2>
              </div>
            </div>
          </div>
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-2.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  856 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  INDIAN
                </h2>
              </div>
            </div>
          </div>
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-3.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  27 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  FRENCH
                </h2>
              </div>
            </div>
          </div>
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-4.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  147 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  STEAKHOUSE
                </h2>
              </div>
            </div>
          </div>
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-5.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  327 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  SEAFOOD
                </h2>
              </div>
            </div>
          </div>
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-6.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  327 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  SUSHI
                </h2>
              </div>
            </div>
          </div>
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-7.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  529 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  MEXICAN
                </h2>
              </div>
            </div>
          </div>
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-8.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  327 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  CHINESE
                </h2>
              </div>
            </div>
          </div>
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-9.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  327 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  PIZZA
                </h2>
              </div>
            </div>
          </div>
          <div class="b-block wow fadeInDown" style="background-image: url('../images/eat-item-10.png')">
            <div class="b-overlay">
              <div class="b-content">
                <h5 class="b-text-name">
                  327 Reacjsct
                </h5>
                <h2 class="b-text-title">
                  PIZZA
                </h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="b-page-counter" id="counter">
        <div class="container">
          <div class="b-block-main">
            <div class="b-block">
              <div class="b-content">
                <h3 class="b-text-title b-counter-value" data-count="23567">0</h3>
                <p class="b-text-norm">
                  Recipes Available
                </p>
              </div>
            </div>
            <div class="b-block">
              <div class="b-content">
                <h3 class="b-text-title b-counter-value" data-count="431729">23567</h3>
                <p class="b-text-norm">
                  Active Users
                </p>
              </div>
            </div>
            <div class="b-block">
              <div class="b-content">
                <h3 class="b-text-title b-counter-value" data-count="892173">431729</h3>
                <p class="b-text-norm">
                  Positive Reviews
                </p>
              </div>
            </div>
            <div class="b-block">
              <div class="b-content">
                <h3 class="b-text-title b-counter-value" data-count="56581">1523</h3>
                <p class="b-text-norm">
                  Photos & Videos
                </p>
              </div>
            </div>
            <div class="b-block">
              <div class="b-content">
                <h3 class="b-text-title b-counter-value" data-count="3182">0</h3>
                <p class="b-text-norm">
                  Spieces and Herbs
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>

</html>