$break-large: 992px;
$break-medium: 768px;
.b-page-introduc {
  @media screen and(max-width:$break-large) {
    .b-block {
      .b-block-left {
        display: none;
      }
      .b-block-right {
        width: 100%;
      }
    }
  }
}
