<!-- build:js(.) script/vendor.min.js -->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbuild -->
<!-- import slick js -->
<script type="text/javascript" src="node_modules/slick-carousel/slick/slick.js"></script>
<!-- end import -->
<!-- build:js meteriallize -->
<script type="text/javascript" src="node_modules/materialize-css/js/waves.js"></script>

<!-- endbuild -->
<!-- build:js script/script.min.js -->
<script type="text/javascript" src="scripts/script.js"></script>
<!-- endbuild -->